  body {
    background-color: #018182;
    font-family: 'W95FA', sans-serif;
    font-size: 16px;
    color: #1F1F1F;
    
    
}

h1 {
    /* font-family: 'W95FA', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    border: 2px solid #000000;
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px; */

    background: #000181;
    color: white;
    /* padding-left: 15px;
    padding-right: 15px; */
    font-size: 1.7rem;
    padding: 4px;
    border: 2px solid #BDBDBD;
    margin: 0px;
    
}

/* .card-header {
    background: #000181;
    padding-left: 15px;
    padding-right: 15px;
  } */

h2, h3, h4, h5 {
    font-family: 'W95FA', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    border: 2px solid #000000;
    background: white;
    color: #000000;
    text-align: left;
}

p {
    padding: 10px;
}

h5 {
    font-size: 15px;
}

#rcorners1 {
    width: 220px;
    height: 220px; 
    background: #00b140;
    border-radius: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    border: 2px solid #000000;
    margin: 10px;
}


/* button {
    background-color: #00b140;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    border: 1px solid #000000;
} */

button { /* Copyright (c) 2019 Themesberg */
    position: relative;
    font-family: 'W95FA', sans-serif;
    transition: all 0.2s ease;
    letter-spacing: 0.025em; 
    font-size: 0.8rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    margin: 10px;
    /* max-height: 37px; */
}

.parent a {
    text-decoration: none;
}

.window {
    border-top: 2px solid white;
     border-left: 2px solid white;
     border-right: 2px solid #393939;
     border-bottom: 2px solid #393939;
     border-radius: 0;
     background: #C0C0C0;
}

.button_exercise {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.button_exercise button {
    margin: 10px;
}

element {
    cursor: url(images/curstom-cursor.cur.png), auto;
  }

